:host {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 64px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  align-items: center;
  z-index: 2;
}

.header-underlay {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-100%);

  &.animate {
    transition: .3s cubic-bezier(.645, .045, .355, 1) transform;
  }

  &.header-sticky {
    transform: translateY(0);
  }
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: initial;
}

.logo {
  height: 32px;
  margin-right: 8px;
  background: white;
  border-radius: 50%;
}

.title {
  font-size: 20px;
}
