<ul class="blog-list">
  <li class="blog-item" *ngFor="let blog of blogs">
    <div class="blog-actions">
      <button mat-icon-button class="mat-elevation-z12" (click)="editBlog(blog)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="mat-elevation-z12" (click)="deleteBlog(blog)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <img class="blog-image" [src]="blog.image" alt="blog-image">
    <div class="blog-text-wrapper">
      <h3 class="blog-title">
        <a routerLink="../blogs/{{ blog.id }}">{{ blog.title }}</a>
      </h3>
      <p class="blog-subtitle">{{ blog.subtitle }}</p>
    </div>
    <div class="blog-date">
      <span>{{ blog.date | date }}</span>
    </div>
  </li>
</ul>
<button mat-fab color="primary" class="create-blog-btn" (click)="createBlog()">
  <mat-icon>add</mat-icon>
</button>
