:host {
  display: block;
  margin-top: 64px;
  min-height: calc(100vh - 64px - 100px);
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 80px 240px;
}

.blog-item {
  width: 375px;
  height: 550px;
  margin-right: 40px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;

  &:hover .blog-image {
    opacity: 1;
  }
}

.blog-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  opacity: 0.8;
}

.blog-text-wrapper {
  padding: 24px;
  flex: 1 1 0;
}

.blog-title {
  font-size: 21px;
  font-weight: 600;
  margin-top: 0;
  color: #333;
  word-wrap: break-word;
}

.blog-subtitle {
  font-size: 14px;
  color: #777;
}

.blog-date {
  padding: 15px 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
  margin-right: 110px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
