<button class="add-btn" (click)="addNewBlog()">
  <i class="fa-solid fa-plus"></i>
</button>
<ul class="blog-list">
  <li class="blog-item" *ngFor="let blog of blogs">
    <div class="blog-actions">
      <button (click)="editBlog(blog)">
        <i class="fa-solid fa-pen"></i>
      </button>
      <button (click)="removeBlog(blog)">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <img class="blog-image" [src]="blog.image" alt="blog-image">
    <div class="blog-text-wrapper">
      <h3 class="blog-title">{{ blog.title }}</h3>
      <p class="blog-subtitle">{{ blog.subtitle }}</p>
    </div>
    <div class="blog-date">
      <span>{{ blog.date }}</span>
    </div>
  </li>
</ul>
