:host {
  display: block;
}

.banner {
  height: 100vh;
  position: relative;
}

.banner-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.banner-image {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: cover;
  animation: blur 3s, fadeIn 2s;
  user-select: none;
}

.banner-title {
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 4px;
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

  .text {
    font-size: 60px;
    line-height: normal;
  }
}

.latest-blogs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 40px;

  .title {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .read-more-btn {
    padding-left: 40px;
    padding-right: 40px;
  }
}
