<div class="banner">
  <div class="banner-image-wrapper">
    <img class="banner-image" src="assets/img/korcula.jpg" alt="banner-image">
  </div>
  <div class="banner-title mat-elevation-z24">
    <div class="text">Read about adventures</div>
    <div>
      <a mat-raised-button color="primary" routerLink="../blogs">Let's get started!</a>
    </div>
  </div>
</div>

<div class="latest-blogs">
  <h1 class="title">Latest blog posts</h1>
  <app-blog-list [maxItems]="3"></app-blog-list>
  <div>
    <a mat-raised-button class="read-more-btn" color="primary" routerLink="../blogs">Read more blogs</a>
  </div>
</div>
